# Core ML
torch==2.1.2
torchvision==0.16.2
timm==0.9.12

# TensorFlow + Keras (RetinaFace)
tensorflow==2.13.0
keras==2.13.1

# Face detection
retina-face==0.0.14

# Core deps (IMPORTANT FIX HERE)
numpy==1.24.3

# Image / video
opencv-python-headless==4.9.0.80
Pillow==10.2.0

# Web
streamlit==1.32.0

# Visualization
matplotlib==3.7.5
seaborn==0.12.2

# Data
pandas==1.5.3
scikit-learn==1.3.2

# Utils
tqdm==4.66.2
